<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="  
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd  
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	<!-- <bean class = "com.aice.demo.NorthMan" id= "northMan" ></bean> -->
	<!-- <bean class = "com.aice.demo.SouthMan" id= "southMan" ></bean> -->

	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> -->
	<!-- <property name="driverClassName" value="org.gjt.mm.mysql.Driver" /> -->
	<!-- <property name="url" value="jdbc:mysql://localhost:3306/sshdb"/> -->
	<!-- <property name="username" value="root" /> -->
	<!-- <property name="password" value="000000" /> -->
	<!-- </bean> -->
	<!-- <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"> -->
	<!-- <property name="dataSource" ref="dataSource" /> -->
	<!-- <property name="hibernateProperties"> -->
	<!-- <props> -->
	<!-- <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop> -->
	<!-- <prop key="hibernate.show_sql">true</prop> -->
	<!-- </props> -->
	<!-- </property> -->
	<!-- <property name="mappingResources"> -->
	<!-- <list> -->
	<!-- <value>com/aice/sshDemo/User.hbm.xml</value> -->
	<!-- </list> -->
	<!-- </property> -->
	<!-- </bean> -->


	<!-- <bean id="userDao" class="com.aice.sshDemo.UserDAOImpl"> -->
	<!-- <property name="sessionFactory" ref="sessionFactory" /> -->
	<!-- </bean> -->

	<!-- <bean id="userManager" class="com.aice.sshDemo.UserManagerImpl"> -->
	<!-- <property name="userDao" ref="userDao" /> -->
	<!-- </bean> -->

	<!-- <bean id="addBean" class="com.aice.sshDemo.UserAction" scope="prototype"> -->
	<!-- <property name="userManager" ref="userManager" /> -->
	<!-- </bean> -->


</beans>  

